<!DOCTYPE html>
<html>
<head>
  <title>Aplicatie1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style="A_CSS_ATTRIBUTE:all;position: fixed;top: -10px; left: 10px; "><ul style="list-style-type:none; ">
<li>WELCOME</li>
</ul></div>
<div style="A_CSS_ATTRIBUTE:all;position: absolute;bottom: 10px; left: 10px; "> <p><a href="about.html">About</a></p>
                     <p><a href="contact.html" >Contact</a></p>      
                     </div>
<%= yield %>

</body>
</html>
